
/* overall theme */
body{
    height: 100vh;
    background: (#FFFFFF);
    font-family:Arial, Helvetica, sans-serif;
}

/* menu */
.menu{
    background-color: #0e0c0c;
    color: #FFFFFF;
    overflow: hidden;
    width: 100%;
    position: relative;
}

/* menu links to other pages */
.menu #links{
    display: none;
}

/* menu text */
.menu a{
  color: #0e0c0c;
  background-color: #FFF0E2;
  padding: 0.3em;
  text-decoration: none;
  font-size: 1.4em;
  display: block;
}

.menu h1{
    background-color: #0e0c0c;
    height: min-content;
}

.menu a.icon{
    background-color: #FFF0E2;
    color: #0e0c0c;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.paragraphs{
    margin-left: 1em;
    margin-right:1em;
    font-size: 1.5em;
    text-align: center;
    background-color: #00D0A0;
    display: flex;
    flex-direction: column;
}

.paragraphs div{
    background-color: #FFF0E2;
    align-self: center;
    margin: 0.5em;    
}


