
/* overall theme */
body{
    height: 100vh;
    background: (#FFFFFF);
    font-family:Arial, Helvetica, sans-serif;
}

.title {
    display: flex;
    align-items: center;
    background-color: #0e0c0c;
    height: 7%;
    color: #FFFFFF;

}

button{
    background-color: #0e0c0c;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    font-size: 1.2em;
}

button:hover{
  background-color: #6e6b6b;
}

/* menu */
.menu{
    background-color: #0e0c0c;
    color: #FFFFFF;
    overflow: hidden;
    width: 100%;
    position: relative;
}

/* menu links to other pages */
.menu #links{
    display: none;
}

/* menu text */
.menu a{
    color: #0e0c0c;
    background-color: #FFF0E2;
    padding: 0.3em;
    text-decoration: none;
    font-size: 1.4em;
    display: block;
}
.menu a.icon{
    background-color: #FFF0E2;
    color: #0e0c0c;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.paragraphs{
    margin-left: 1em;
    margin-right:1em;
    font-size: 1.5em;
    text-align: center;
    background-color: #00D0A0;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.paragraphs div{
    background-color: #FFF0E2;
    align-self: center;
    margin: 1em;
    width: 100%;    
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit]{
    background-color: #0e0c0c;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 10%;
    border: none;
    font-size: 1em;
}

input[type=submit]:hover{
    background-color: #6e6b6b;
}

.container{
    background-color: #FFF0E2;
    padding: 10px;
    margin-top: 10px;
}

.container div{
  background-color: #00D0A0;

  padding: 1%;
  margin-top: 10px;
  display: flex;  
}

.container button{
  margin-left: 10px;
  font-size: 1em;
}

.feedback{
    font-size: 1.2em;
    margin-bottom: 1em;
    text-align: left;
    background-color: #00A881;
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    width: 100%;
}

.feedback p{
    background-color: #00D0A0;
    align-self: left;
    padding: 10px;
    margin: 10px;
}

.feedback a{
    background-color: #00D0A0;
    color: #0e0c0c;
    margin: 10px;
}

.enterCode{
    background-color: #FFF0E2;
    padding: 10px;
    margin-top: 10px;
}

.pages{
    background-color: #FFF0E2;
    padding: 0.7em;
    padding-top: 1em;
    padding-bottom: 1em;
    position: absolute;
    bottom: 0em;
    width: 100%;
}

.stats{
    background-color: #FFF0E2;
    padding: 10px;
    margin-top: 10px;
}

.stats div{
    border-style: solid;
    border-width: 3px;
    padding-left: 10px;
    font-size: 1.1em;
}

.shop{
    background-color: #FFF0E2;
    padding: 10px;
    margin-top: 10px;
    padding-bottom: 20px;
}

.shop div{
    padding: 10px;
    font-size: 1.1em;
    background-color: #00D0A0;
}

.shop button{
  font-size: 1em;
}

